/**
* Standard black icons 
**/

.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	word-wrap: normal !important;
}

#social-sharing,
#social-sharing-buttons {
	display: inline;
}

#social-sharing-buttons li {
	display: inline;
	list-style-type: none;
	margin-right: 10px;
	margin-left: 0;
	font-size: 15px;
}

#social-sharing-buttons li a {
	border: none;
	color: #000;
	width: 38px;
	height: 38px;
	display: inline-block;
	text-align: center;
	border-radius: 50px;
	margin-bottom: 10px;
}

#social-sharing-buttons li a:hover {
	color: #fff;
	background: #000;
}

#social-sharing-buttons li a:before {
	-webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
	line-height: 1;
	font-family: "Font Awesome 5 Brands";
	padding-top: 11px;
}

#social-sharing-buttons li.twitter a:before {
	content: "\f099";
}

#social-sharing-buttons li.facebook a:before  {
	content: "\f39e";
}

#social-sharing-buttons li.linkedin a:before  {
	content: "\f0e1";
}

#social-sharing-buttons li.pinterest a:before  {
	content: "\f231";
}

#social-sharing-buttons li.email a:before  {
	content: "\f0e0";
	font-family: "Font Awesome 5 Free";
}

#social-sharing-buttons li a span {
	text-indent: -9999px;
	display: block;
	position: absolute;
}

#social-sharing-buttons .fas,
#social-sharing-buttons .fab {
	padding-top: 11px;
}

@media (max-width:600px) {
	#social-sharing-buttons li a { 
		width: 33px;
		height: 33px;
	}
	#social-sharing-buttons .fas,
	#social-sharing-buttons .fab {
		font-size: 12px;
	}
}

/**
* Additional button sizes 
**/

#social-sharing-buttons li.small a {
	width: 26px;
	height: 26px;
}

#social-sharing-buttons li.small {
	font-size: 10px;
}

#social-sharing-buttons li.small a:before {
	padding-top: 8px;
}

#social-sharing-buttons li.large a {
	width: 46px;
	height: 46px;
}

#social-sharing-buttons li.large {
	font-size: 20px;
}

#social-sharing-buttons li.large a:before {
	padding-top: 13px;
}

/**
* Square buttons
**/

#social-sharing li.square a {
	border-radius: 0px;
}


